<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="user-signup.component.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form id="usersignup" (ngSubmit)="onSubmit()" #usersignup="ngForm">
      <!-- Error Message -->
      <div class="text-danger text-center" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!-- First Name -->
      <div>
        <div
          *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)"
        >
          <span class="text-danger" *ngIf="firstname.errors?.['required']">
            {{ validationMessages.firstNameRequired }}
          </span>
        </div>
        <label for="firstname">First Name:</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          [(ngModel)]="user.firstname"
          #firstname="ngModel"
          required
        />
      </div>

      <!-- Last Name -->
      <div>
        <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
          <span class="text-danger" *ngIf="lastname.errors?.['required']">
            {{ validationMessages.lastNameRequired }}
          </span>
        </div>
        <label for="lastname">Last Name:</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          [(ngModel)]="user.lastname"
          #lastname="ngModel"
          required
        />
      </div>

      <!-- Email -->
      <div>
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
          <span class="text-danger" *ngIf="email.errors?.['required']">
            {{ validationMessages.emailRequired }}
          </span>
          <span class="text-danger" *ngIf="email.errors?.['email']">
            {{ validationMessages.emailInvalid }}
          </span>
        </div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
          email
        />
      </div>

      <!-- Phone Number -->
      <div>
        <div
          *ngIf="
            phonenumber.invalid && (phonenumber.touched || phonenumber.dirty)
          "
        >
          <span class="text-danger" *ngIf="phonenumber.errors?.['required']">
            {{ validationMessages.phoneNumberRequired }}
          </span>
          <span class="text-danger" *ngIf="phonenumber.errors?.['pattern']">
            {{ validationMessages.phoneNumberInvalid }}
          </span>
        </div>
        <label for="phonenumber">Phone Number:</label>
        <input
          type="tel"
          id="phonenumber"
          name="phonenumber"
          [(ngModel)]="user.phonenumber"
          #phonenumber="ngModel"
          required
          pattern="[0-9]*"
        />
      </div>

      <!-- Password -->
      <div>
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <span class="text-danger" *ngIf="password.errors?.['required']">
            {{ validationMessages.passwordRequired }}
          </span>
          <span class="text-danger" *ngIf="password.errors?.['pattern']">
            {{ validationMessages.passwordPattern }}
          </span>
        </div>
        <label for="password">Password:</label>
        <div class="input-wrapper">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            #password="ngModel"
            minlength="8"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z])(?=.*[!@#$&*]).{8,}$"
            required
          />
          <button type="button" (click)="toggleFieldVisibility('password')">
            <i
              class="bi"
              [ngClass]="{
                'bi-eye': showPassword,
                'bi-eye-slash': !showPassword
              }"
            ></i>
          </button>
        </div>
      </div>

      <!-- Confirm Password -->
      <div>
        <div
          *ngIf="
            confirmpassword.invalid &&
            (confirmpassword.touched || confirmpassword.dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="confirmpassword.errors?.['required']"
          >
            {{ validationMessages.confirmPasswordRequired }}
          </span>
        </div>
        <div *ngIf="password.dirty && confirmpassword.dirty">
          <span
            class="text-danger"
            *ngIf="confirmpassword.value !== password.value"
          >
            {{ validationMessages.passwordsDoNotMatch }}
          </span>
        </div>
        <label for="confirmpassword">Confirm Password:</label>
        <div class="input-wrapper">
          <input
            type="{{ showConfirmPassword ? 'text' : 'password' }}"
            id="confirmpassword"
            name="confirmpassword"
            [(ngModel)]="user.confirmpassword"
            #confirmpassword="ngModel"
            required
          />
          <button
            type="button"
            (click)="toggleFieldVisibility('confirmPassword')"
          >
            <i
              class="bi"
              [ngClass]="{
                'bi-eye': showConfirmPassword,
                'bi-eye-slash': !showConfirmPassword
              }"
            ></i>
          </button>
        </div>
      </div>

      <!---SignIn With Google Button-->
      <app-google-sign-in></app-google-sign-in>
      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="
          usersignup.invalid || confirmpassword.value !== password.value
        "
      >
        Sign Up
      </button>

      <!-- Login Link -->
      <a href="/login">Already have an account? Log In</a>
    </form>
  </body>
</html>
